fastapi==0.78.0
keras==2.9.0
keras_nightly==2.5.0.dev2021032900
matplotlib==3.4.1
numpy==1.19.5
opencv_python==4.5.3.56
python_constraint==1.4.0
scikit_learn==1.1.1
tensorflow==2.9.1
tensorflow_cpu==2.7.0
uvicorn==0.15.0
